@charset "UTF-8"

@import "../../styles/theme-vars"

.user-info
  flex-shrink: 0
  position: relative
  padding:
    right: 2.8rem

.user-avatar
  width: 2.4rem
  height: 2.4rem
  border: 0.2rem solid white
  border-radius: 2.4rem
  position: absolute
  right: 0
  top: 0
