@charset "UTF-8";

@import "../../styles/_vars";

.wt-progress {
  height: 10px;
  background-color: #F3F3F3;
  border-radius: 5px;

  .success {
    background-color: @success-color;
  }

  .warning {
    background-color: @warning-color;
  }

  .failure {
    background-color: @error-color;
  }
}
