<div class="modal-header">
  <h4 class="modal-title text-uppercase">Danger Warning!</h4>
</div>
<div class="modal-body">
  <p>This application is still under development.</p>
  <p>It contains a lot of bugs, errors, incomplete features, bad things.  And it functions very unstable.  This means it will possibly <strong>mess up, damage or even totally destroy your data</strong>.</p>
  <p>Please:</p>
  <ol>
    <li>Do <strong>backup</strong> your data before using.</li>
    <li>Do <strong>NOT</strong> use it on important data or even accounts.</li>
    <li>Use this application at your own risk.</li>
  </ol>
  <p>Although I will not take any responsibility for your loss
    (but I really don't want to see this happen, and hopefully you have followed the recommendations above), <a href="https://github.com/whitetrefoil/flickr-simple-reorder/issues" target="_blank">any bug report is appreciated</a>.</p>
  <p>Starting to use this application is deemed to read, acknowledge and agree with this terms.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-success visible-xs-inline-block" ng-click="no()">No!</button>
  <button class="btn btn-success hidden-xs" ng-click="no()">No! Maybe I'll back later when you complete it.</button>
  <button class="btn btn-danger" ng-click="ok()">I agree. Give me a try!</button>
</div>
