<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="callout callout-success" ng-if="!isExpired">
      <h4>You have logged out!</h4>
      <p>You can log in again now.</p>
    </div>
    <div class="callout callout-warning" ng-if="isExpired">
      <h4>Your haven't logged in or your login has expired!</h4>
      <p>Please <a ui-sref="login" href="">log in</a> again.</p>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-6 col-md-offset-3">
  <h4>Please notice</h4>
  <p>This application will <strong class="text-uppercase">not</strong> wipe your cookie on Flickr.</p>
  <p>If you saved your login on Flickr, you may be re-login directly without being asked for anything when you try to log in this application.</p>
</div>
