<h2>Photosets</h2>
<section class="photosets-list">
  <ul>
    <li ng-repeat="photoset in photosets" ng-switch="photoset.state">
      {{photoset.title._content}} ({{photoset.photos}})
      -
      <a ng-switch-when="reordering">Reordering&hellip;</a>
      <a ng-switch-when="syncing">Syncing&hellip;</a>
      <a href="javascript:" ng-switch-when="failed" ng-click="reorder(photoset)">Retry</a>
      <a href="javascript:" ng-switch-default ng-click="reorder(photoset)">Reorder</a>
    </li>
  </ul>
  <pagination ng-model="page"
              total-items="totalPhotosets"
              items-per-page="photosetsPerPage"
              max-size="maxSize" rotate="false"
              boundary-links="true"
              previous-text="&lsaquo;" next-text="&rsaquo;"
              first-text="&laquo;" last-text="&raquo;"></pagination>
</section>
