<div ng-class="getModalClass()">
  <div class="modal-header">
    <h4 class="modal-title">Syncing with server</h4>
  </div>
  <div class="modal-body">
    <p>
      <span class="total-number">Total: {{total}}</span>,
      <span class="success-number">Successful: {{success}}</span>,
      <span class="warning-number" ng-if="warning > 0">Skipped: {{warning}}</span>,
      <span class="fail-number" ng-if="fail > 0">Failed: {{fail}}</span>
    </p>
    <div class="progress">
      <div class="progress-bar progress-bar-danger progress-bar-striped"
          ng-class="{active: remaining > 0}" ng-style="getFailStyle()"></div>
      <div class="progress-bar progress-bar-warning progress-bar-striped active"
          ng-class="{active: remaining > 0}" ng-style="getWarningStyle()"></div>
      <div class="progress-bar progress-bar-info progress-bar-striped active"
          ng-class="{active: remaining > 0}" ng-style="getSuccessStyle()"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-disabled="remaining > 0" ng-if="fail > 0"
            ng-click="abandon()">Leave them</button>
    <button type="button" class="btn btn-danger"
            ng-disabled="remaining > 0" ng-if="fail > 0"
            ng-click="retry()">Try again</button>
    <button type="button" class="btn btn-primary"
            ng-disabled="remaining > 0" ng-if="fail === 0"
            ng-click="close()">Close</button>
  </div>
</div>
