@charset "UTF-8";

@import "~iview/src/styles/custom.less";

@theme-color: #0091DC;
@accent-color: #FF0084;

@primary-color: #464C5B;
@info-color: #2DB7F5;
@success-color: #00CC66;
@warning-color: #FF9900;
@error-color: #FF3300;

@link-color: @theme-color;
@link-hover-color: tint(@link-color, 20%);
@link-active-color: shade(@link-color, 5%);

@non-content-link-color: @primary-color;
@non-content-link-hover-color: tint(@non-content-link-color, 20%);
@non-content-link-active-color: shade(@non-content-link-color, 5%);

@selected-color: fade(@primary-color, 90%);
@tooltip-color: #FFFFFF;
@subsidiary-color: #9EA7B4;
@rate-star-color: #F5A623;

// Main nav
// --------

@main-nav-height: 80px;
@main-nav-bg-color: @title-color;
