@charset "UTF-8"

@import "bootstrap"

=set-callout-color($color)
  border-color: $color
  h1, h2, h3, h4, h5, h6
    color: $color

.callout
  border:
    color: $gray-lighter
    image: none
    radius: 3px
    style: solid
    width: 1px 1px 1px 5px
  margin: 20px 0
  padding: 20px

.callout-primary
  +set-callout-color($brand-primary)

.callout-success
  +set-callout-color($brand-success)

.callout-info
  +set-callout-color($brand-info)

.callout-warning
  +set-callout-color($brand-warning)

.callout-danger
  +set-callout-color($brand-danger)


.modal-content
  overflow: hidden
  .modal-header
    text-transform: uppercase
  strong
    text-transform: uppercase

.modal-primary
  .modal-header
    background-color: $brand-primary
    color: white
  strong
    color: $brand-primary

.modal-info
  .modal-header
    background-color: $brand-info
    color: white
  strong
    color: $brand-info

.modal-success
  .modal-header
    background-color: $brand-success
    color: white
  strong
    color: $brand-success

.modal-warning
  .modal-header
    background-color: $brand-warning
    color: white
  strong
    color: $brand-warning

.modal-danger
  .modal-header
    background-color: $brand-danger
    color: white
  strong
    color: $brand-danger

.modal-sync-progress
  .modal-body
    padding:
      top: 40px
      bottom: 40px
  .progress
    margin-bottom: 0
  .total-number
    font-weight: bold
  .success-number
    font-weight: bold
    color: $brand-success
  .warning-number
    font-weight: bold
    color: $brand-warning
  .fail-number
    font-weight: bold
    color: $brand-danger


.checklist
  list-style: none
  padding-left: 20px
  label
    font-weight: normal


body
  margin-top: 50px

#page
  .page-header
    height: 46px
    margin-top: 20px
    position: relative
    h1, h2, h3, h4, h5, h6
      margin: 0
.search
  text-align: center
  margin-bottom: 10px
  .search-box
    max-width: 300px
    margin: 0 auto
    input[type=checkbox]
      vertical-align: middle

.navbar
  .current-user-icon
    margin:
      top: -8px
      bottom: -8px
  .main-navbar-user-info
    position: absolute
    right: 0
    top: 0
    span
      margin: 0 8px
  .navbar-xs-menu-toggle
    float: right
    .glyphicon
      vertical-align: middle
  .unknown-user-icon
    width: 32px
    height: 32px
    margin: -8px 0
    font-size: 32px

.photosets-list
  margin:
    bottom: 80px
  > ul
    list-style: none
    margin: 0
    padding: 0
    li
      position: relative
      height: 150px
      margin:
        top: 15px
        bottom: 15px
      .photoset-cover
        position: absolute
        top: 0
        left: 15px
      .photoset-info
        display: block
        margin:
          left: 160px
        h5
          font:
            size: 110%
            weight: bold
  .pages
    width: 100%
    position: fixed
    left: 0
    bottom: 20px
    text-align: center

    .pagination
      margin: 0 auto


