<!DOCTYPE html>
<html lang='zh-CN' ng-app='flickrSimpleReorder'>
<head>
<meta charset='utf-8'>
<link href='css/app.css' rel='stylesheet'>
<title>Flickr Simple Reorder</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- build:js js/libs.min.js -->
<script src='lib/jshashes/hashes.js'></script>
<script src='lib/jquery/dist/jquery.js'></script>
<script src='lib/jquery-cookie/jquery.cookie.js'></script>
<script src='lib/lodash/lodash.js'></script>
<script src='lib/moment/moment.js'></script>
<script src='lib/angular/angular.js'></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-aria/angular-aria.js"></script>
<script src='lib/angular-moment/angular-moment.js'></script>
<script src="lib/angular-material/angular-material.js"></script>
<script src='lib/angular-ui-router/release/angular-ui-router.js'></script>
<!-- endbuild -->

<!-- build:js js/app.min.js -->
<script src='js/application.js'></script>
<script src='js/services/offset-scroll.js'></script>
<script src='js/services/orders.js'></script>
<script src='js/services/modals.js'></script>
<script src='js/services/auth.js'></script>
<script src='js/services/people.js'></script>
<script src='js/services/photosets.js'></script>
<script src='js/filters/paginate-filter.js'></script>
<script src='js/controllers/root-ctrl.js'></script>
<script src='js/controllers/confirm-reorder-all-modal-ctrl.js'></script>
<script src='js/controllers/sync-progress-ctrl.js'></script>
<script src='js/controllers/login-ctrl.js'></script>
<script src='js/controllers/logout-ctrl.js'></script>
<script src='js/controllers/photosets-ctrl.js'></script>
<script src='js/router.js'></script>
<!-- endbuild -->
</head>

<body layout="column" ng-controller="RootCtrl">
<md-toolbar id="main-toolbar">
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <h2 class="md-toolbar-item">Flickr Simple Reorder</h2>
    <span class="md-toolbar-item" flex></span>
    <span class="greeting md-toolbar-item" ng-if="currentUser">Hello, {{currentUser.username}}</span>
    <a href="javascript:" class="user-avatar md-toolbar-item">
      <img height="32" width="32" ng-src="{{currentUserIconUrl}}" ng-if="currentUser"/>
    </a>
    <span class="greeting md-toolbar-item" ng-if="!currentUser">Hello, visitor!</span>
    <a href="javascript:" class="user-avatar md-toolbar-item" ng-if="!currentUser">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</md-toolbar>
<!--
  <div>
    <ul>
      <li ui-sref="photosets" ui-sref-active="active">
        <a href="#/photosets">Photosets</a>
      </li>
      <li ui-sref="faq" ui-sref-active="active">
        <a href="#/faq">FAQ</a>
      </li>
      <li ui-sref="about" ui-sref-active="active">
        <a href="#/about">About</a>
      </li>
      <li ui-sref="logout" ui-sref-active="active" ng-if="currentUser">
        <a href="#/logout">Log out</a>
      </li>
      <li ui-sref="login" ui-sref-active="active" ng-if="!currentUser">
        <a href="#/login">Log in</a>
      </li>
    </ul>
  </div>
  <div>
    <div>
      <img
           ng-src="{{currentUserIconUrl}}" ng-if="currentUser"
           height="32" width="32"/>
        <span
              ng-if="!currentUser">
        </span>
      <span></span>
    </div>
    <ul>
      <li ui-sref="photosets" ui-sref-active="active">
        <a href="">Photosets</a>
      </li>
      <li ui-sref="faq" ui-sref-active="active">
        <a href="">FAQ</a>
      </li>
      <li ui-sref="about" ui-sref-active="active">
        <a href="">About</a>
      </li>
      <li></li>
      <li ui-sref="logout" ui-sref-active="active" ng-if="currentUser">
        <a href="">Log out</a>
      </li>
      <li ui-sref="login" ui-sref-active="active" ng-if="!currentUser">
        <a href="">Log in</a>
      </li>
    </ul>
  </div>
-->
<md-content id="page" layout-padding layout="row" ui-view></md-content>
</body>
</html>
