<!DOCTYPE html>
<html lang='zh-CN' ng-app='flickrSimpleReorder'>
  <head>
    <meta charset='utf-8'>
    <link href='css/app.css' rel='stylesheet'>
    <title>Flickr Simple Reorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:js js/libs.min.js -->
    <script src='lib/jshashes/hashes.js'></script>
    <script src='lib/jquery/dist/jquery.js'></script>
    <script src='lib/jquery-cookie/jquery.cookie.js'></script>
    <script src='lib/lodash/dist/lodash.js'></script>
    <script src='lib/bootstrap-sass-official/assets/javascripts/bootstrap.js'></script>
    <script src='lib/angular/angular.js'></script>
    <script src='lib/angular-bootstrap/ui-bootstrap.js'></script>
    <script src='lib/angular-bootstrap/ui-bootstrap-tpls.js'></script>
    <script src='lib/angular-ui-router/release/angular-ui-router.js'></script>
    <!-- endbuild -->

    <!-- build:js js/app.min.js -->
    <script src='js/application.js'></script>
    <script src='js/services/auth.js'></script>
    <script src='js/services/people.js'></script>
    <script src='js/services/photosets.js'></script>
    <script src='js/filters/paginate-filter.js'></script>
    <script src='js/controllers/root-ctrl.js'></script>
    <script src='js/controllers/login-ctrl.js'></script>
    <script src='js/controllers/logout-ctrl.js'></script>
    <script src='js/controllers/photosets-ctrl.js'></script>
    <script src='js/router.js'></script>
    <!-- endbuild -->
  </head>

  <body ng-controller="RootCtrl">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header hidden-xs">
        <a class="navbar-brand" href="#">Flickr Simple Reorder</a>
      </div>
      <p class="navbar-text navbar-right" ng-if="!currentUser">
        <a ui-sref="login" class="navbar-link">Log in</a>
      </p>
      <p class="navbar-text navbar-right" ng-if="currentUser">
        <span class="hidden-xs">Hello, </span>{{currentUser.username}}
        <img id="current-user-icon" ng-src="{{currentUserIconUrl}}" height="32" width="32"/>
      </p>
    </div>
  </nav>
  <div id='page' class="container" ui-view></div>
  </body>
</html>
