.page.login-page
  .row
    .col-12.col-md-6.push-md-3
      // Before login
      wt-panel(v-if="status === 0", color="info", title="Redirecting you to Flickr")
        p.card-text
          a(:href="loginUrl") If the page doesn't redirect, please click here to try again.

      // Requesting token
      wt-panel(v-else-if="status === 1", color="info", title="Communicating with Flickr")
        p.card-text Just a second&hellip;

      // Invalid
      wt-panel(v-else, color="warning", title="Your authentication is invalid")
        p.card-text
          | This may due to your previous authentication is timeout or some other small problem.
          = " "
          a(:href="loginUrl") Please click here to login again.
