@charset "UTF-8";

@import "../../styles/_vars";

.loading, .network-error {
  width: @modal-width-xs;
  margin: @modal-margin-y auto;
}

.photosets-page {
  width: @screen-md;
  margin: 40px auto;
  overflow: hidden;

  ol {
    list-style: decimal;
    padding-left: 2em;
  }

  .photosets {
    margin: 0 -10px;
  }

  .wt-photoset {
    float: left;
    margin: 0 10px 40px;
  }

  .toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

    > .toolbar-section {
      &:first-child {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
      }
    }

    .toolbar-label {
      //line-height: 36px;
      margin-left: 20px;
    }

    .search {
      width: 100px;
      transition: width @transition-time @ease-in-out;

      &.focus {
        width: 100%;
      }
    }

    .ivu-select {
      width: 100px;
    }

    .ivu-input {
      display: block;
    }

    .reorder-all {
      margin-left: 20px;
    }
  }
}
